.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-datagov_2_column_panel_grid_9_grid_3_-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-datagov_2_column_panel_grid_9_grid_3_-inside {
  padding-right: 0px;
}

.panels-flexible-datagov_2_column_panel_grid_9_grid_3_ {
  width: auto;
}

.panels-flexible-region-datagov_2_column_panel_grid_9_grid_3_-main_ {
  float: left;
  width: 74.2678%;
}

.panels-flexible-region-datagov_2_column_panel_grid_9_grid_3_-center {
  float: left;
  width: 24.7322%;
}

.panels-flexible-row-datagov_2_column_panel_grid_9_grid_3_-main-row-inside {
  padding-right: 0px;
}

